@angular:registry=https://registry.npmjs.org/
@angular-redux:registry=https://registry.npmjs.org/
@angular-devkit:registry=https://registry.npmjs.org/
@ngx-translate:registry=https://registry.npmjs.org/
@ngtools:registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
@biesbjerg:registry=https://registry.npmjs.org/
@angularclass:registry=https://nexusrepo.antwerpen.be/repository/npm-all/
@a-ui:registry=https://nexusrepo.antwerpen.be/repository/npm-all/
@schematics:registry=https://registry.npmjs.org/
@acpaas-ui:registry=https://nexusrepo.antwerpen.be/repository/npm-all/
@antwerpen-morgen:registry=https://nexusrepo.antwerpen.be/repository/npm-all/
@mapbox:registry=https://registry.npmjs.org/
registry=https://npm.antwerpen.be
save-exact=true
